.main-container{
    margin: 5px 5px 5px 10px;
    border:1px solid rgb(239, 238, 238);
}
.serach-bar{
    width: 40%;
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    
}
.a{
    height: 38px;
    font-size: 14px;
    color: white;
    background-color: rgb(56, 56, 159);
    border-radius: 0;
    border-left: 1px solid ;
    
}
